.favorites-div{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h1{
        font-size: 3rem;
    }
    .no-fav{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        
    }
}