.course-div{
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
    .back-arrow{
        font-size: 2rem;
        padding: 5px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: 7px;
        position: absolute;
        gap: 5px;
        margin-top: -15px;
        cursor: pointer;
        font-size: 1rem;
        &:hover{
            text-decoration: underline;
        }
    }
    .yt-video{
        margin-top: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        // gap: 20px;
        .iframe-container{
            width: 100%;
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
        }
        p{
            width: 90%;
            font-size: 1rem;
        }
        .info{
            display: flex;
            padding: 9px;
            align-items: center;

            .star{
                display: flex;
                font-size: 1.2rem;
                margin-left: auto;
                cursor: pointer;
            }
        }
        
    }
}