

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
  }

  html,body{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .light-theme{
    --bg-color:#fff;
    --text-color:#000;
    --cat-bg:#efefef;
    --cat-bs1:#e5e5e5;
    --cat-bs2:#dedcdc;
    --dd-bg:whitesmoke;
    --dd-bgh:rgb(202, 202, 202);
    --dd-bs:1px 1px 6px rgb(187, 186, 186);
  }

  .dark-theme{
    --bg-color:#000;
    --text-color:#fff;
    --cat-bg:#191919;
    --cat-bs1:#1a1a1a;
    --cat-bs2:#373737;
    --dd-bg:rgb(58, 58, 58);
    --dd-bgh:rgb(102, 102, 102);
    --dd-bs:1px 1px 6px rgb(105, 103, 103);
  }

  body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 1s ease, color 1s ease;
  }